<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ks">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".InsuranceApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".activities.payment.MakePaymentActivity">

        </activity>
        <activity android:name=".activities.renewal.PaymentPlanActivity" />
        <activity android:name=".activities.webview.WebViewActivity" />
        <activity android:name=".activities.profile.ProfileActivity" />
        <activity android:name=".activities.dashboard.DashBoardActivity" />
        <activity android:name=".activities.payment.PaymentActivity" />
        <activity
            android:name=".activities.policydetail.ChangePolicyDetials1Activity"
            android:theme="@style/AppTheme.NoActionBar">

            <!--
            <intent-filter>

                <action android:name="android.intent.action.MAIN"/>
                <action android:name="com.package.name.MyActivity"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->

        </activity>
        <activity android:name=".activities.SignableDocument2Activity" />
        <activity android:name=".activities.signabledocument.SignableDocumentActivity" />
        <activity android:name=".activities.document.IdCardDocumentActivity" />
        <activity android:name=".activities.RenewalActivity" />
        <activity android:name=".activities.claim.FileClaimActivity" />
        <activity android:name=".activities.upload.UploadDocumentActivity" />
        <activity android:name=".activities.ChangeMyPolicyDetialsActivity" />
        <activity android:name=".activities.editprofile.EditProfileActivity" />
        <activity android:name=".activities.forgot.ForgotPasswordActivity" />
        <activity android:name=".activities.ConfirmationActivity" />
        <activity
            android:name=".activities.loginsignup.LoginSignUpActivity"
            android:label="@string/title_activity_login_sign_up"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.SplashScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.package.name.MyActivity" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>